services: 
  frontend:
    build: ./frontend
    depends_on:
      - backend
    container_name: Frontend_Container
    ports: ["3000:3000"]
    restart: always
    command: npm run dev -- --host
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    nerworks: ["app-network"]

  backend:
    build: ./backend